#####=== TeX ===#####
### Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.ps
*.dvi
*.out
*.toc
*.fdb_latexmk

# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store
.idea
